<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main>
         <div class="flash-msg">
        {%with messages=get_flashed_messages(with_categories=true)%} {%if
        messages%} {%for category,message in messages%}
        <p
          class="flash-msg {%if category=='success'%} text-green-600 {%elif category=='info'%} text-blue-700 {%elif category=='warning'%} text-yellow-400 {%else%} text-gray-500 {%endif%}"
        >
          {{message}}
        </p>
        {%endfor%} {%endif%} {%endwith%}
      </div>

        {%block body%}{%endblock%}
    </main>
</body>
  <script>
    const messages = document.querySelectorAll(".flash-msg");
    messages.forEach((msg) => {
      setTimeout(() => {
        msg.remove();
      }, 5000);
    });
  </script>
</html>