{%extends 'password_base.html'%} {%block title%} {%endblock%} {%block body%}
<div class="flex flex-col items-center justify-center min-h-screen">
  <form
    method="POST"
    class="flex flex-col items-center justify-center w-[500px] h-[480px] shadow-2xl bg-gray-300 rounded-[8px] pt-2 border border-gray-400"
  >
    {{form.hidden_tag()}}
    <div class="flex flex-col items-center justify-center m-1">
      {{form.current_password.label}} {{form.current_password(class='border
      border-gray-400 outline:none focus:outline-none focus:ring-2
      focus:ring-blue-500 rounded-[6px] p-1 m-1')}}
      <div class="min-h-[1.5rem]">
        {%for error in form.current_password.errors%}
        <p class="flash-msg text-red-600">{{error}}</p>
        {%endfor%}
      </div>
    </div>
    <div class="flex flex-col items-center justify-center m-1">
      {{form.new_password.label}} {{form.new_password(class='border
      border-gray-400 outline:none focus:outline-none focus:ring-2
      focus:ring-blue-500 rounded-[6px] p-1 m-1')}}
      <div class="min-h-[1.5rem]">
        {%for error in form.new_password.errors%}
        <p class="flash-msg text-red-600">{{error}}</p>
        {%endfor%}
      </div>
    </div>
    <div class="flex flex-col items-center justify-center m-1">
      {{form.confirm_new_password.label}}
      {{form.confirm_new_password(class='border border-gray-400 outline:none
      focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-[6px] p-1
      m-1')}}
      <div class="min-h-[1.5rem]">
        {%for error in form.confirm_new_password.errors%}
        <p class="flash-msg text-red-600">{{error}}</p>
        {%endfor%}
      </div>
    </div>
    <div>
      {{form.submit(class='cursor-pointer bg-green-600 text-white w-60 h-[30px]
      rounded-[20px]')}}
    </div>
  </form>
  <a
    href="{{url_for('dashboard')}}"
    class="inline-block text-blue-800 text-semibold hover:text-blue-400 underline cursor-pointer text-blue-400"
    >Back</a
  >
</div>
{%endblock%}
