{%extends 'base.html'%} {%block title%}<title>Create Post</title>{%endblock%}
{%block body%}
<header class="sticky top-0 w-full left-0 text-center bg-gray-700 text-white p-2">
  <nav>
        <a
    href="{{url_for('home')}}"
    class="hover:text-blue-400 hover:underline cursor-pointer"
    >Home</a
  >
  </nav>
</header>

<div class="flex flex-col items-center justify-center">
  <form enctype="multipart/form-data" method="post" class="w-full">
    <div>
      {{post.hidden_tag()}}
      <div class="flex flex-col m-2">
        <span class="font-semibold"> {{post.title.label}} </span>
        {{post.title(class='focus:outline-none focus:ring-2
        focus:ring-blue-500 outline-none border border-gray-700 rounded-[4px]
        mt-2')}}
        <div>
          {%if post.title.errors%}
          <div class="min-h-[1.5rem]">
            {%for error in post.title.errors%}
            <p class="flash-msg text-red-600">{{error}}</p>
            {%endfor%} {%endif%}
          </div>
        </div>
      </div>
      <br />

      <div>
        <span class="font-semibold m-2"> {{post.image.label}}</span>
        {{post.image()}}

        <div>
          {%if post.image.errors%}
          <div class="min-h-[1.5rem]">
            {%for error in post.image.errors%}
            <p class="flash-msg text-red-600">{{error}}</p>
            {%endfor%} {%endif%}
          </div>
        </div>
        <br />
        <div class="flex flex-col m-2">
          <span class="font-semibold"> {{post.content.label}} </span>
          {{post.content(class='w-full min-h-[320px] focus:ring-2
          focus:ring-blue-500 resize-y outline:none focus:outline-none border
          border-gray-700 mt-2')}}
          <div>
            {%if post.content.errors%}
            <div class="min-h-[1.5rem]">
              {%for error in post.content.errors%}
              <p class="flash-msg text-red-600">{{error}}</p>
              {%endfor%} {%endif%}
            </div>
          </div>
        </div>

        <div class="flex items-center justify-center m-2">
          {{post.submit(class='cursor-pointer text-white bg-blue-800
          rounded-[4px] h-[30px] w-80',value=submit_label)}}
        </div>
      </div>
    </div>
  </form>

</div>

{%endblock%}
