
{%extends 'base.html'%}
{%block body%}
<h1>Blog post</h1>
<form enctype="multipart/form-data" method="post">
    {{post.hidden_tag()}}
    <div>
{{post.title.label}}
{{post.title()}}
    </div>
     <div>
        {{post.image.label}}
        {{post.image()}}
    </div>
     <div>
        {{post.content.label}}
        {{post.content()}}
        
    </div>
     <div>
        {{post.submit()}}
        
    </div>
 

</form>
   <a
          href="{{url_for('home')}}"
          class="hover:text-blue-400 hover:underline cursor-pointer text-blue-400"
          >Home</a
        >
{%endblock%}