<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main>
      <nav class="p-4 bg-gray-700 flex gap-40 items-center">
        <a
          href="{{url_for('home')}}"
          class="inline-block text-white text-semibold hover:text-blue-400 hover:underline cursor-pointer text-blue-400"
          >Home</a
        >

        <a
          href="{{url_for('display_posts')}}"
          class="inline-block text-white hover:text-blue-400 hover:underline cursor-pointer text-blue-400"
          >Posts</a
        >
        <a
          href="{{url_for('create_post')}}"
          class="inline-block text-white hover:text-blue-400 hover:underline cursor-pointer text-blue-400"
          >Create post</a
        >
        <a
          href="{{url_for('dashboard')}}"
          class="inline-block text-white hover:text-blue-400 hover:underline cursor-pointer text-blue-400"
          >Dashboard</a
        >
      </nav>
      {%block body%}{%endblock%}
    </main>
  </body>
  <script>
    const messages = document.querySelectorAll(".flash-msg");
    messages.forEach((msg) => {
      setTimeout(() => {
        msg.remove();
      }, 5000);
    });
  </script>
</html>
