{%extends 'base_plain.html' %}
{%block title%}
<title>Uploads</title>
{%endblock%}
{%block body%}
{%if uploads%}
{%for upload in uploads%}
<div class="w-[300px]">
  <img src="{{url_for('download_file',name=upload.filepath)}}" alt="Uploaded Image"/>
<p>{{upload.filename}}</p>
<a href="{{url_for('download_file',name=upload.filepath)}}" alt="Uploaded Image" class="hover:text-blue-400 hover:underline cursor-pointer text-blue-400">Download</a>
</div>
    

{%endfor%}
{%else%}
<p>No uploads yet</p>
{%endif%}
     <a
          href="{{url_for('home')}}"
          class="hover:text-blue-400 hover:underline cursor-pointer text-blue-400"
          >Home</a
        >
            <a
          href="{{url_for('upload')}}"
          class="hover:text-blue-400 hover:underline cursor-pointer text-blue-400"
          >Upload file</a
        >
{%endblock%}